<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Modelo ASIS ARMAR7</title>
    @Styles.Render("~/Content/bootstrap-cerulean.css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

@Html.Partial("_navbar")
    <div class="container body-content">
        <div style="margin-top: 70px;">@RenderBody()</div> 
 
        <footer>
            <div class="dropup">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Plantillas de análisis
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li>@Html.ActionLink("Demográfico", "BI", "Home")</li>
                    <li>@Html.ActionLink("Tablas", "tableau", "Home")</li>
                    <li>@Html.ActionLink("Dashboard", "tableauDBoard", "Home")</li>
                </ul>
            </div>
            <p>&copy; @DateTime.Now.Year - Organización Panamericana de la Salud - ASIS-ARMAR7</p>
            <ul class="breadcrumbs x-hidden-focus" role="navigation" aria-label="Breadcrumb" data-bi-name="breadcrumb" ms.cmpgrp="breadcrumb" itemtype="http://schema.org/BreadcrumbList" itemscope=""></ul>
            <div itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/.." itemprop="item">Página anterior...</a></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
